## .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
*.userprefs

## Visual Studio
.vs/
*.csproj.user
*.dbmdl
*.jfm

## JetBrains Rider
.idea/
*.sln.iml

## Logs
*.log

## Publish
publish/

## OS files
Thumbs.db
.DS_Store
